@import "src/style/modules";

.toolbar-tabs {
  width: 100%;
  display: inline-flex;
  align-items: stretch;
  height: 38px;
  background-color: $g2-kevlar;
  padding: $ix-marg-b;
  padding-bottom: 0;
}

.toolbar-tab {
  background: rgba($g3-castle, .5);
  margin-right: $ix-border;
  border-radius: $ix-radius $ix-radius 0 0;
  display: flex;
  align-items: center;
  color: $g10-wolf;
  font-weight: 700;
  padding: 0 ($ix-marg-c - $ix-marg-a);
  font-size: $ix-text-tiny;
  user-select: none;
  white-space: nowrap;
  transition: color 0.25s ease, background-color 0.25s ease;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    flex: 0 0 auto;
    background: $g3-castle;
    color: $g16-pearl; 
  }
  
  &:hover {
    color: $g16-pearl;
    cursor: pointer;
  }
}
